.container {
    padding: 1em;
}

.databases {
    margin-top: 1em;
    display: flex;
    flex-direction: column;
    gap: 0.5em;
}

.databases > div {
    display: flex;
    gap: 1em;
    align-items: center;
}