<div class="calendar">
    <h3>Calendar</h3>
    <div class="calendar-controls">
      <button (click)="goToPreviousWeek()">Previous week</button>
      <button (click)="goToNextWeek()">Next week</button>
    </div>

    <div *ngIf="showDetails" class="overlay" (click)="closePopup()"></div>
    <div *ngIf="showDetails" class="popup">
      <div class="popup-content">
        <p class="first-name">{{ visitDetails?.firstName }} {{ visitDetails?.lastName }}</p>
        <p>Age {{ visitDetails?.age }}, {{ visitDetails?.sex }}</p>
        <p>{{ visitDetails?.type }}</p>
        <p>Details: {{ visitDetails?.details }}</p>
      </div>
    </div>
    <div class="scroll-container" #scrollContainer>
      <table>
        <thead>
          <tr>
            <th></th>
            <th *ngFor="let i of getHours" class="time-block">{{ formatHour(i) }}</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let day of getCurrentWeek" style="position: sticky;">
            <td [ngClass]="getHeaderClasses(day)">
              <p>{{ dayNames()[day.getUTCDay()] }}</p>
              <p>{{ formatDate(day) }}</p>
            </td>
            <td *ngFor="let i of getHours" 
              class="time-block cell" 
              [ngClass]="getClasses(day, i)" 
              (click)="selectSlot(day, i)"
              (mouseenter)="onMouseEnter(day, i)"
              (mouseleave)="onMouseLeave()">
            </td>
            <td *ngIf="isToday(day)" 
              class="current-time-stripe" 
              [style.left]="getCurrentTimePosition() + '%'">
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <button class="selection-btn" *ngIf="getShouldSchedule()" (click)="confirmSelection()">Confirm selection</button>
  </div>
  