.calendar {
    display: block;
    overflow-x: auto;
    white-space: nowrap;
    margin: 1em;
    position: relative;
}

.calendar-controls {
    display: flex;
    padding: 1em 0;
    justify-content: space-between;
    font-size: 1em;
}

.calendar-controls > button {
    min-width: 100px;
}

.scroll-container {
    overflow-y: hidden;
    white-space: nowrap;
    width: auto;
    border: 1px solid #ddd;
    margin-bottom: 2em;
}

table {
    border-collapse: collapse;
    width: max-content;
    min-width: 100%;
}

thead th, tbody .cell {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
    min-width: 100px;
    height: 60px;
}

thead th:first-child,
tbody td:first-child {
    position: sticky;
    left: 0;
    background: #fff;
    z-index: 1;
}

.time-block {
    min-width: 100px;
}

.absence {
    background-color: rgba(222, 46, 46, 0.617);
}

.presence, .presence-no-schedule {
    background-color: rgba(21, 156, 21, 0.738);
}

.presence:hover {
    cursor: pointer;
    background-color: rgba(17, 179, 17, 0.738);
}

.selected {
    background-color: rgba(17, 179, 17, 0.738);
    width: 100%;
    height: 100%;
}

.scheduled {
    background-color: rgba(228, 228, 228, 0.738);
}

.scheduled:hover {
    background-color: rgba(199, 199, 199, 0.738);
    cursor: pointer;
}

.past-scheduled {
    background-color: rgb(113, 113, 113);
}

.past-scheduled:hover {
    cursor: pointer;
    background-color: rgb(54, 54, 54);
}

.current-time-stripe {
    position: absolute;
    width: 2px !important;
    height: 12.5%;
    background-color: red;
    z-index: 10;
    pointer-events: none; 
}

.today {
    background-color: rgb(57, 57, 57) !important;
    color: white !important;
}

.popup {
    width: 100%;
    top: 300px;
    right: 0;
    position: absolute;
    background-color: rgba(73, 73, 73, 0.8);
    color: white;
    border-radius: 5px;
    padding: 10px;
    width: 200px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
    z-index: 100000; 
    margin-left: auto;
    margin-right: auto;
}
  
.popup-content {
    display: flex;
    flex-direction: column;
}
  
.popup p {
    margin: 5px 0;
}
  
.popup {
    top: 10px; 
    left: 10px; 
    max-width: 250px;
}

@media(max-width: 1200px) {
    thead th, tbody .cell {
        min-width: 90px;
        height: 50px;
    }
}

@media(max-width: 1000px) {
    thead th, tbody .cell {
        min-width: 80px;
        height: 45px;
    }
}

@media(max-width: 800px) {
    thead th, tbody .cell {
        min-width: 70px;
        height: 40px;
    }
}

@media(max-width: 600px) {
    thead th, tbody .cell {
        min-width: 60px;
        height: 35px;
    }
}

@media(max-width: 400px) {
    thead th, tbody .cell {
        min-width: 50px;
        height: 30px;
    }
}