<div class="doctors">
    <h3>Doctors</h3>
    <div>
        <a routerLink="create" class="nav-link" *ngIf="Authorization.isAdmin(authenticatedUser?.role)">
            <img src="assets/add-user.png">
            <p>Add doctor</p>
        </a>
        <div class="doctor-list">
            <div 
                class="doctor" 
                *ngFor="let doctor of doctors" 
                [ngClass]="{'selected-doctor': doctor.id === selectedDoctor}"
                (click)="selectedDoctor = doctor.id"
            >
                <div>
                    <p>{{doctor.user.firstName}} {{doctor.user.lastName}}</p>
                    <p>{{doctor.phoneNo}}</p>
                </div>
                <img src="assets/schedule.png" (click)="onScheduleClick(doctor.user.id)" *ngIf="Authorization.isPatient(authenticatedUser?.role)">
                <img src="assets/trash-1.png" (click)="onDoctorDelete(doctor.id)" *ngIf="Authorization.isAdmin(authenticatedUser?.role)" class="delete-doctor">
            </div>
        </div>
    </div>
    <app-review *ngIf="selectedDoctor" [doctorId]="selectedDoctor"/>
</div>