.users {
    padding: 1em;
}

.role {
    text-transform: lowercase !important;
}

.role::first-letter {
    text-transform: uppercase !important;
}

img {
    width: 30px;
    height: 30px;
}

img:hover {
    cursor: pointer;
}

.user-list {
    display: grid;
    grid-template-columns: repeat(3, auto);
    column-gap: 1.5em;
    row-gap: 1em;
}

.user {
    display: flex;
    padding: 1em;
    justify-content: space-between;
    align-items: center;
    border: 1px solid rgb(200, 200, 200);
    border-radius: 5px;
}

.filters input {
    width: 32%;
    margin-bottom: 2em;
}

.name {
    font-size: 1.1em;
    font-weight: 500;
    color: rgb(116, 116, 116);
    margin-bottom: 0.5em;
}

.description {
    font-size: 0.9em;
    margin-bottom: 1.5em;
}