.navbar {
    gap: 2em;
    padding: 1em;
    background-color: #048504;
    align-items: center;
}

.container-fluid {
    display: grid;
    gap: 1em;
    grid-template-columns: auto 1fr;
    justify-content: start;
}

.navbar-toggler, .collapse {
    justify-self: end;
}

.const {
    display: flex;
    gap: 1em;
    align-items: center;
}

p {
    color: white;
    text-transform: capitalize;
}

img {
    width: 25px;
}

img:hover {
    cursor: pointer;
}

.sign-out {
    width: 20px;
}

.menu {
    width: 22px;
}

.cart img {
    position: relative;
}

.cart p {
    position: absolute;
    z-index: 10;
    background-color: red;
    border-radius: 50%;
    width: 15px;
    height: 15px;
    padding: 0;
    font-size: 0.6em;
    color: white; 
    display: flex; 
    justify-content: center; 
    align-items: center; 
}

.navbar-toggler {
    border-color: none;
}

.navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3E%3Cpath stroke='white' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}