<div class="cart">
    <h3>Cart</h3>
    <div class="items" *ngIf="cartVisits.length">
        <div *ngFor="let visit of cartVisits" class="item">
            <input type="checkbox" id={{visit.id}} (change)="addItem(visit.id)">
            <div>
                <p>{{user.firstName}} {{user.lastName}}</p>
                <p>{{formatDates(visit.date)}}</p>
                <p class="type">{{visit.type}}</p>
                <p class="price">${{visit.date.length * 50}}</p>
            </div>
            <div>
                <p class="detail">Sex</p>
                <p>{{user.sex}}</p>
                <p class="detail">Age</p>
                <p>{{user.age}}</p>
                <p class="detail">Details</p>
                <p>{{visit.details}}</p>
                <img src="assets/trash.png" (click)="onRemoveFromCart(visit.id)">
            </div>
        </div>
    </div>   
    <div class="order-summary" *ngIf="selectedVisits.length && cartVisits.length">
        <h4>Order summary</h4>
        <div>
            <p *ngIf="!selectedVisits.length">Nothing chosen</p>
            <div *ngIf="selectedVisits.length" class="total">
                <p>Total</p>
                <span>${{totalPrice}}</span>
            </div>
        </div>
        <div class="payment">
            <p>Chose payment</p>
            <button (click)="onClickCard()">
                <img src="assets/card.png">
                <p>Card</p>
            </button>
        </div>
    </div>
    <p *ngIf="!cartVisits.length">
        Ups... there's nothing in the cart yet
    </p>
</div>