<div class="cart">
    <h3>Cart</h3>
    <div class="items" *ngIf="patient.cart.items?.length">
        <div *ngFor="let item of patient.cart.items" class="item">
            <input type="checkbox" id={{item.id}} (change)="addItem(item.id)">
            <div>
                <p>{{item.firstName}} {{item.lastName}}</p>
                <p>{{formatDates(item.date)}}</p>
                <p class="type">{{item.type}}</p>
                <p class="price">${{item.date.length * 50}}</p>
            </div>
            <div>
                <p class="detail">Sex</p>
                <p>{{item.sex}}</p>
                <p class="detail">Age</p>
                <p>{{item.age}}</p>
                <p class="detail">Details</p>
                <p>{{item.details}}</p>
                <img src="assets/trash.png" (click)="onRemoveFromCart(item.id)">
            </div>
        </div>
    </div>   
    <div class="order-summary" *ngIf="selectedItems.length">
        <h4>Order summary</h4>
        <div>
            <p *ngIf="!selectedItems.length">Nothing chosen</p>
            <div *ngIf="selectedItems.length" class="total">
                <p>Total</p>
                <span>${{totalPrice}}</span>
            </div>
        </div>
        <div class="payment">
            <p>Chose payment</p>
            <button (click)="onClickCard()">
                <img src="assets/card.png">
                <p>Card</p>
            </button>
        </div>
    </div>
    <p *ngIf="!patient.cart.items">
        Ups... there's nothing in the cart yet
    </p>
</div>