* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

a, a:hover, a:visited, a:active {
    color: black;
    text-decoration: none;
    display: inline;
}

button {
    background-color: #2d2d2d;
    border-radius: 5px;
    padding: 5px 10px;
    color: white;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5em;
    font-size: 0.85em;
}

button img {
    width: 20px;
}

button:hover, button:focus, button:active {
    border: none;
    background-color: #505050;
    cursor: pointer;
}

h3 {
    padding: 0.5em 0;
    font-size: 1.2em;
    font-weight: 300;
    margin-bottom: 1em;
    border-bottom: 1px solid rgb(190, 190, 190);
}

input:hover {
    cursor: pointer;
}

input:focus {
    outline: none;
}

input {
    padding: 5px;
    border: 0.5px solid rgb(45, 45, 45);
    border-radius: 5px;
    font-size: 0.8em;
    color: black;
}

p {
    margin-bottom: 0;
}

.error-message {
    margin: 2px 0;
    padding: 0;
    font-size: 0.6em;
    color: rgb(203, 50, 50);
}

.radios {
    display: flex;
    column-gap: 1.5em;
    row-gap: 1em;
    align-items: center;
    justify-content: start;
    flex-wrap: wrap;
}

.radios > div {
    display: flex;
    gap: 0.5em;
    align-items: center;
}

.section p:first-child {
    border: 1px solid black;
    width: 2em;   
    height: 2em;  
    border-radius: 50%;
    text-align: center;
    line-height: 2em; 
    box-shadow: 1px 1px 1px rgb(208, 208, 208);
}
