.popup-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}
  
.popup-content {
    background: white;
    display: grid;
    padding: 20px;
    gap: 1em;
    border-radius: 8px;
    width: 60%;
    overflow-y: auto;
}

.popup-content h3 {
    grid-column: 1 / -1;
}
  
textarea {
    width: 100%;
    padding: 5px;
    height: 100px;
    margin-bottom: 10px;
    border-radius: 5px;
}

.profile {
    width: 40px; 
    height: 40px;
    border-radius: 50%;
    display: flex; 
    border: 1px solid gray;
    justify-content: center; 
    align-items: center;
    text-align: center;
}

.comment {
    display: flex;
    gap: 0.5em;
}

textarea {
    outline: rgb(116, 116, 116); 
}

.comment img {
    width: 20px;
    height: 20px;
    align-self: center;
    margin-left: 3em;
}

.comment img:hover {
    cursor: pointer;
}

.comment-list {
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.date {
    font-weight: 300;
    color: gray;
    font-size: 0.9em;
}

@media(min-width: 1000px) {
    .popup-content {
        grid-template-columns: 2fr 1fr;
    }
}